
<%= form_tag('/stocks/new') %>

	<h1>Add a Stock</h1>
	Name:<br>
	<p><input type=text name=name><br><p>
	Code:<br> 
	<p><input type=text name=code><br><p>
	<input type= "submit"/>

	<%= link_to 'Back', stocks_path %>


</form>