<%= form_for(@sma) do |f| %>
  <% if @sma.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sma.errors.count, "error") %> prohibited this sma from being saved:</h2>

      <ul>
      <% @sma.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
