<%= form_for(@rse) do |f| %>
  <% if @rse.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rse.errors.count, "error") %> prohibited this rse from being saved:</h2>

      <ul>
      <% @rse.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
